.loading-container{
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
.loading-dot{
    animation: bounce 1.5s infinite linear;
    background: #dc3545;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    width: 20px;
}

.loading-dot:nth-child(1){
    animation-delay: .2s;
}
.loading-dot:nth-child(2){
    animation-delay: .4s;
}
.loading-dot:nth-child(3){
    animation-delay: .6s;
}
.loading-dot:nth-child(4){
    animation-delay: .8s;
}
.loading-dot:nth-child(5){
    animation-delay: 1s;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    15% {
        transform: translateY(-15px);
    }
    30% {
        transform: translateY(0);
    }
}
